.create-account-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .login-button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  